@charset "UTF-8"
	*{
		margin:0;
		padding:0;
	}

	#container {
		position:relative;
	}

	#slideshow {
		height:100%;
		width:100;
	}
		#slideshow img {
			height:70%;
			width:100%;
			position:absolute;
		}
	#pager{
		height:120px;
		width:100%;
		background:rgba(0,0,0,0.5);
		position:absolute;
		bottom:30%;
		z-index:1000;
		text-align:center;
		opacity:0;
		transition:all .2s ease-in-out 0s;
	}
		#pager:hover {
			opacity:1;
		}
		#pager img {
			margin:20px 5px;
			opacity:0.3;
			transition: all .3s ease-in-out 0s;
		}
			#pager img:hover {
				opacity:1;
				transform:scale(1.05);
				z-index:100;
			}
	#prev_c {
		height:70%;
		width:200px;
		position:absolute;
		left:0;
		top:0;
		z-index:100;
	}
		#prev_c img{
			height:120px;
			width:120px;
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			margin:auto 0px;
		}
	#next_c {
		height:70%;
		width:200px;
		position:absolute;
		right:0;
		top:0;
		z-index:100;
	}
		#next_c img {
			height:120px;
			width:120px;
			position:absolute;
			top:0;
			bottom:0;
			right:0;
			margin:auto 0px;
		}
		#next, #prev:hover {
			cursor:pointer;
		}
		#next #prev {visibility:hidden; }
		#next_c, #prev_c:hover #next, #prev {visibility:visible;}