<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>model2_board</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>registerWriteAction</servlet-name>
    <servlet-class>ControllerAction.RegisterWriter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerWriteAction</servlet-name>
    <url-pattern>/registerWrite.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginAction</servlet-name>
    <servlet-class>ControllerAction.LoginProc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginAction</servlet-name>
    <url-pattern>/loginproc.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>boardWriteAction</servlet-name>
    <servlet-class>ControllerAction.boardWrite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardWriteAction</servlet-name>
    <url-pattern>/boardWrite.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>boardViewAction</servlet-name>
    <servlet-class>ControllerAction.BoardView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardViewAction</servlet-name>
    <url-pattern>/boardView.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>boardDeleteAction</servlet-name>
    <servlet-class>ControllerAction.BoardDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardDeleteAction</servlet-name>
    <url-pattern>/boardDelete.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>boardModifyAction</servlet-name>
  	<servlet-class>ControllerAction.BoardModify</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boardModifyAction</servlet-name>
  	<url-pattern>/boardModify.do</url-pattern>
  </servlet-mapping>
</web-app>